body {
  margin: 0;
  font-family: Arial, sans-serif;
  /* closs scroll x */
  overflow-y: auto;
}
.toolbar {
  box-shadow: 0 1px 2px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px 20px;
  margin-left: 200px;
  margin-right: 200px;
}
.search-container {
  display: flex;
  gap: 10px;
  flex: 1;
  margin: 30px 20px;
  margin-inline-start: 2%;
}
.menu {
  font-size: 30px;
}
.search-container input {
  font-size: 30px;
  flex: 1;
  /* size box */
  padding: 20px;
  border-radius: 0px;
  /* remove space two box */
  margin-left: -12px;
}
.auth-buttons a {
  font-size: 30px;
  text-decoration: none;
  color: #016b9d;
  font-weight: bold;
  margin: 5px;
}
#choose {
  color: rgb(146, 135, 135);
}
#paypalBtn {
  color: white;
  font-size: 30px;
  font-weight: bold;
  background-color: #ff8900;
  padding: 10px 15px;
  cursor: pointer;
  margin: 5px;
}

.logo_pic {
  display: flex;
}
/* block 2 */
.logo_pic img {
  width: 80%;
  height: auto;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.character {
  font-size: 20px;
  margin-top: 120px;
  margin-left: 7%;
}
.category_list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15%;
  margin-right: 10%;
  background-color: whitesmoke;
}
.category_item {
  padding: 20px;
  /* text middle */
  text-align: center;
}
.category_item img {
  background-color: rgb(213, 239, 237);
  border-radius: 100%;
  width: 70px;
  /* space between */
  margin: 1.5em;
}
/* top ads */
.top_ads_top {
  margin-left: 15%;
}
/*Top Ads*/
.top_ads {
  /* one row */
  display: flex;
  overflow-x: scroll;
  margin-left: 15%;
  margin-right: 10%;
  background-color: skyblue;
}
.top_ads_card {
  background-color: whitesmoke;
  border-radius: 5px;
  margin: 10px 10px;
}
.top_ads_card img {
  width: auto;
  height: 200px;
}
.size,
.Date,
.price {
  padding-left: 10px;
  font-size: 16px;
}
.price,
.price1 {
  color: red;
}
/* part4 */
.latest_ads {
  margin-left: 15%;
  margin-right: 10%;
  background-color: #05668d;
  columns: 4;
}
.latest_ads_card {
  background-color: whitesmoke;
  border-radius: 5px;
  width: 220px;
  margin: 10px 10px;
  padding: 5px 5px;
}
.latest_ads_card img {
  width: auto;
  height: 147px;
}
.Sell1,
.Date1,
.price1 {
  padding-left: 20px;
  font-size: 16px;
}
.latest_ads_latest {
  margin-left: 15%;
}
.latest_ads_card button {
  margin-top: 20%;
  margin-bottom: 10px;
  font-size: 16px;
  color: #0052ff;
  border-radius: 10px;
  align-items: center;
}
.selectall button {
  /* top right buttom left */
  margin: 3% 15% 3% 15%;
  font-size: 20px;
  color: white;
  border-radius: 20px;
  width: 75%;
  height: 50px;
  padding: 12px 20px;
  background-color: #4c7ade;
}
.location {
  margin-left: 10%;
  margin-right: 10%;
  border-style: ridge;
  max-width: 100%;
}
.location ul {
  list-style: none;
  /* cut line */
  columns: 5;
  column-gap: 40px;
}
.location ul a {
  text-decoration: none;
  color: #05668d;
  font-size: 20px;
}
/* cambodia */
.pic_cambodia img {
  width: 100%;
}
.detail {
  display: flex;
  flex-wrap: wrap;
  background-color: #05668d;
  color: white;
}
.follow_khmer24 {
  list-style-type: none;
  margin-left: 10%;
}
.we_accept img {
  width: 70px;
}
/* testing  */
/* .category_list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15%;
  margin-right: 10%;
}
.category_item {
  padding: 20px;
}
.category_item img {
  background-color: rgb(103, 58, 30);
  border-radius: 100%;
  width: 60px;
} */
