body {
  margin: 0;
  font-family: Arial, sans-serif;
  /* closs scroll x */
  /* overflow-x: hidden; */
  background-color: whitesmoke;
}
.logo {
  min-width: none;
}
.toolbar {
  border: 0px;
  display: flex;
  flex: 2;
  padding: 90px 80px 20px 80px;
}
.search-container {
  display: flex;
  gap: 10px;
  flex: 1;
  padding-inline-start: 2%;
}
.menu {
  font-size: 15px;
}
.search-container input {
  font-size: 15px;
  flex: 1;
  /* remove space two box */
  margin-left: -12px;
}
.auth-buttons a {
  font-size: 15px;
  text-decoration: none;
  color: #016b9d;
  font-weight: bold;
  margin: 5px;
}
#choose {
  color: rgb(146, 135, 135);
}
#paypalBtn {
  color: white;
  font-size: 15px;
  font-weight: bold;
  background-color: #ff8900;
  padding: 10px 15px;
  cursor: pointer;
  margin: 5px;
}

.logo_pic {
  display: flex;
}
/* block 2 */
.logo_pic img {
  width: 1100px;
  height: auto;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.character {
  font-size: 15px;
  margin-top: 15px;
  margin-left: 10%;
}
.category_list {
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  /* gap: 5px; */
  grid-template-columns: auto auto auto auto auto auto;
  background-color: white;
  justify-content: space-evenly;
}
.category_item {
  padding: 10px;
  /* text middle */
  text-align: center;
}
.category_item img {
  background-color: rgb(213, 239, 237);
  border-radius: 100%;
  width: 70px;
  gap: 10px;
}
/* top ads */
.top_ads_top {
  margin-left: 10%;
}
/*Top Ads*/
.top_ads {
  /* one row */
  display: flex;
  overflow-x: scroll;
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
}
.top_ads_card {
  border-radius: 5px;
  background-color: rgb(247, 241, 241);
  margin: 4px;
}
.top_ads_card img {
  width: 200px;
  height: 200px;
  /* img fit background */
  object-fit: cover;
}
.size,
.Date,
.price {
  padding-left: 10px;
  font-size: 16px;
}
.price {
  color: rgb(194, 16, 16);
}
/* part4 */
.latest_ads {
  background-color: #f2fcff;
  display: grid;
  /* between column and row */
  column-gap: 5px;
  row-gap: 5px;
  margin-left: 10%;
  margin-right: 10%;
  grid-template-columns: auto auto auto auto;
  width: 1150px;
}
.latest_ads_card {
  background-color: rgb(225, 218, 218);
  border-radius: 5px;
  overflow: hidden;
}
.latest_ads_card img {
  /* width: auto;
  height: 147px; */
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.Sell1,
.Date1,
.price1 {
  padding-left: 20px;
  font-size: 16px;
}
.latest_ads_latest {
  margin-left: 10%;
}
.latest_ads_p {
  color: #0052ff;
  margin-left: 40px;
  margin-top: 40px;
  font-size: 15;
}
.latest_ads_card button {
  margin-top: 90px;
  margin-bottom: 10px;
  margin-left: 50px;
  font-size: 16px;
  color: #0052ff;
  border-radius: 10px;
  align-items: center;
}
.selectall button {
  /* top right buttom left */
  margin: 3% 11% 3% 12%;
  font-size: 20px;
  color: white;
  border-radius: 20px;
  width: 75%;
  height: 50px;
  padding: 12px 20px;
  background-color: #4c7ade;
}
.locationList {
  margin-left: 10%;
  margin-right: 10%;
  border-style: ridge;
  max-width: 100%;
}
.list_location {
  list-style: none;
  /* cut line */
  columns: 5;
  column-gap: 40px;
}
.locationUl a {
  text-decoration: none;
  color: #05668d;
  font-size: 18px;
}
/* cambodia */
.pic_cambodia img {
  width: 100%;
  margin-bottom: -10px;
}
.detail {
  display: flex;
  flex-wrap: wrap;
  background-color: #05668d;
  color: white;
  margin-top: 0%;
  /* color: white;
  margin-top: 0%; */
}
.follow_khmer24 {
  list-style-type: none;
  margin-left: 10%;
}
.useful {
  display: flex;
  gap: 12px;
}
.useful img {
  width: 150px;
}
/* .item img {
  margin-left: 10px;
  margin-top: 10px;
} */
.we_accept {
  list-style-type: none;
  display: flex;
  width: 100%;
  margin-left: 650px;
  justify-content: flex-end;
}
.we_accept img {
  width: 70px;
  gap: 12px;
  margin-top: 20px;
}
.search-container-mobile {
  display: none;
}
@media only screen and (max-width: 600px) {
  .logo .logo_img {
    width: 100px;
  }
  .logo .flag_img {
    width: 24px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .search-container-desktop {
    display: none;
  }
  .search-container-mobile {
    display: flex;
    gap: 10px;
    flex: 1;
    padding: 10px;
    margin: 10px;
  }

  .category_list {
    /* gap: 5px; */
    grid-template-columns: auto auto auto auto;
  }
  .latest_ads {
    grid-template-columns: auto auto;
    width: 450px;
  }
  .latest_ads_card img {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }
  .location {
    max-width: 90%;
  }
  .location ul a {
    font-size: 14px;
  }
  .we_accept {
    list-style-type: none;
    display: flex;
    width: 100%;
    margin-left: 5px;
    justify-content: flex-end;
  }
}
