.container {
    display: flex;
    /* flex-wrap: wrap; */
    overflow-x: auto;
}
.box {
    width: 500px;
    height: 500px;
    background-color: red;
    margin: 10px;
    flex: 0 0 500px;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }
    /* .box {
        width: 100px;
        height: 100px;
        background-color: red;
        margin: 10px;
    } */
}
